<h1>Product Listing</h1>
<table>
	<thead>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Quantity In Stock</th>
			<th>Price</th>
		</tr>
	</thead>	
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= image_tag product.image %></td>
				<td><%= product.name %></td>
				<td><%= product.quantity_in_stock %></td>
				<td><%= number_to_currency(product.price) %></td>
				<td><%= form_for :item, url:  {action:  :show} do |form| %>
					<%= form.hidden_field :id, value:  product.id  %>
						<p><%= submit_tag "Show" %></p>
					<% end %>
				</td> 
			</tr>
		<% end %>
	</tbody>
</table>

<p><%= link_to 'Back', home_page_index_path %></p>
