<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h3>Dear <%= @customer.name %>, <br  /><br  />
		Your order has been received.  Thank you.<br  /> 
		Order number: <%= @order_number %>.<br  /><br  />
		Name: <%= @customer.name %>.<br  />
		Email Address: <%= @customer.email %>.<br  />
		Mailing Address: <%= @customer.address %>.<br  />
		Contact Telephone Number: <%= @customer.phone %>.<br  />
	</h3>
	</body>
</html>
